@tailwind base;
@tailwind components;
@tailwind utilities;npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch
.hit-container {
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  margin-bottom: 16px;
  flex: 1 0 100%;
}

.ais-SearchBox-input {
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
}
.ais-SearchBox {
  margin:  0;
  border: 5px solid #ccc;
}
.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}


/* center and enlarge search icon */
.ais-SearchBox-submitIcon {
  position: relative;
  left: 1em;
  font-size: 1.25em;
  /* add a new icon */
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /* color the icon */
  color: #ccc;
  /* position the icon */
}

.search-container {
  position: relative;
}

.search-icon-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.search-icon-button i {
  font-size: 1rem;
  color: #1a202c;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
}
.hit {
  max-width: 100%;
  box-sizing: border-box;
}
.ais-RefinementList-count
{
  font-size: 0.7em;
  padding: 0.2em;
  color: rgb(251, 251, 251);
  border-radius: 4px;

  background-color: #28628c64;
}
.ais-RefinementList-item
{
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 4px;
  background-color: #28628c21;
}
.ais-RefinementList-item--selected
{
  background-color: #28628c86;
}
.ais-RefinementList-labelText
{
  font-size: 1em;
  padding: 0.2em;
  color: rgb(175, 49, 49);
  border-radius: 4px;
}
.ais-RefinementList-labelText--selected
{
  color: rgb(157, 28, 28);
}
.ais-RefinementList-checkbox
{
padding-left: 0.5em;

}

.ais-InfiniteHits-loadMore
{
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #2392e0ea;
  color: #28628c;
  border: 1px solid #28628c;
}
.ais-InfiniteHits-loadMore:hover
{
  background-color: #28628c86;
  color: #28628c;
  border: 1px solid #28628c;
}
.ais-InfiniteHits-list
{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;


}
.ais-InfiniteHits-item
{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.ais-SearchBox-submit
{
  display: none;
}

.ais-SearchBox-reset
{
  display: none;
}